.address{
    color: #5689F0;
    font-family: Arial, Helvetica, sans-serif;
}
.subtitle{
    margin-top: 0px;
}
h2{
    margin-bottom: 8px;
}
.title{
    display: inline-block;
    vertical-align: top;
}
.left-side{
    display: inline-block;
    
}
.right-side{
    display: inline-block;
    vertical-align: top;
}
.title-right{
    display: inline-block;
}
.title-left{
    display: inline-block;
    width: 950px;
}

.filter-icon{
    padding-left:10px ;
    height: 15px;
}
p{
    font-size: 14px;
    font-weight: lighter;
}
.traveler-pic{
    display: inline-block;
    padding: 20px;
}
.text-info{
    display: inline-block;
    vertical-align: top;
}
.traveler-info{
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    background-color: #EFEFEF ;
    margin-bottom: 20px;
}
.user-name{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 700px;
}
.row-text-info{
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
}
.buttons{
    display: grid;
    grid-template-columns:  150px 100px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.offer-btn{
    margin-right: 50px;
    color: white;
    background-color: #3252DF;
    border-radius: 8px;
    border-color: #3252DF;
}
.see-detail-btn{
    color: white;
    background-color: #3252DF;
    border-radius: 8px;
    border-color: #3252DF;
}
.btn-text{
    margin-top: 8px;
    margin-bottom: 8px;
}
h2{
    color: #173660;
    font-size: 28px;
}
.event{
    width: 320px;
    background-color:#EFEFEF;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    margin-top: 200px;
    margin-left: 40px;
    padding-top: 20px;
    padding-bottom: 10px;
}
h3{
    padding-left: 25px;
    margin-top: 0px;
    text-align: center;
}
.event-text{
    text-align: center;
    border-style: solid;
    border-right: 0px ;
    border-left: 0px ;
    border-bottom: 0px ;
    border-color: gray;
    padding-top: 10px;
}
#date{
    text-align: center;
}
.see-more-btn{
    color: white;
    background-color: #3252DF;
    border-radius: 8px;
    border-color: #3252DF;
    margin-left: 125px;
}
main{
    padding-left: 30px;
}
.see-more-btn:hover{
    background-color: rgb(73, 103, 255);
    border-color: rgb(73, 103, 255);
}
.offer-btn:hover{
    background-color: rgb(73, 103, 255);
    border-color: rgb(73, 103, 255);
}
.see-detail-btn:hover{
    background-color: rgb(73, 103, 255);
    border-color: rgb(73, 103, 255);
}